@charset "utf-8";


.clear
{
  display:block;
  clear:both;
  float:none;
  height:0;
  line-height:0;
  font-size:0;
}

.ui_panel_loaded
{
  display:none;
}

.ui_panel_errors,
.ui_panel_warnings
{
  border:none;
  padding:5px 10px;
}

.ui_panel_errors
{
  background:#fff0f0;
}

.ui_panel_warnings
{
  background:#fffff0;
}

.ui_panel_errors ul,
.ui_panel_warnings ul
{
  padding:5px 0;
  clear:both;
  float:none;
}

.ui_panel_errors label,
.ui_panel_warnings label
{
  display:block;
  font:13px/20px Arial sans-serif;
  cursor:pointer;
}

.ui_panel_errors label
{
  color:#ff0000;
}

.ui_panel_warnings label
{
  color:#ffa500;
}

.ui_panel_disclosure_header
{
  float:none;
  clear:both;
  display:block;
  height:23px;
  line-height:23px;
}

.ui_panel_disclosure_header .title
{
  float:left;
}

.ui_panel_disclosure_header h2.title
{
  font:23px/23px Arial sans-serif;
}

.ui_panel_disclosure_header h3.title
{
  font:17px/23px Arial sans-serif;
}

.ui_panel_errors .ui_panel_disclosure_header,
.ui_panel_warnings .ui_panel_disclosure_header,
.ui_panel_errors .ui_panel_disclosure_header h2.title,
.ui_panel_warnings .ui_panel_disclosure_header h2.title
{
  font:15px/20px Arial sans-serif;
}

.ui_panel_errors .ui_panel_disclosure_header h2.title
{
  color:#ff0000;
}

.ui_panel_warnings .ui_panel_disclosure_header h2.title
{
  color:#ffa500;
}

.ui_panel_disclosure_toggle
{
  float:right;
  font:13px/23px Arial sans-serif;
  text-decoration:none;
}

.ui_panel_datetime input
{
  width:80px;
}
