@charset "utf-8";


.ui_panel_tab_labels
{
  background:#ffffff;
}

.ui_panel_tab_label
{
  float:left;
  background:#ffffff;
}

.ui_panel_tab_label.active
{
  background:#dddddd;
}

.ui_panel_tab_label a
{
  display:block;
  padding:3px 10px;
  text-decoration:none;
}

.align_vertical .ui_panel_tab_labels,
.align_vertical .ui_panel_tab_contents
{
  float:left;
}

.align_vertical .ui_panel_tab_labels
{
  width:200px;
}

.align_vertical .ui_panel_tab_label
{
  float:none;
}
